<div class="row">
    <div>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <ul>
                <li>找新窝旨在给北漂ers提供一种新的找房方式，豆瓣租房小组便是极好的数据来源了。</li>
                <li>这种方式的成本比较低，找到的房东、合租者相对靠谱些，性价比很高。</li>
                <li>我们喜欢豆瓣，喜欢小清新，拒绝广告，拒绝获取用户信息。</li>
                <li>但也真是囊中羞涩，穷学生党。域名、服务器是一笔不小的开支。</li>
                <li>如果找新窝帮到了您，希望您能够捐助我们，帮助找新窝走的更远！</li>
                <li>我们会在官网(zhaoxinwo.com)列出所有的捐助者及资金流向，给大家提供更好的使用体验。</li>
                <li><strong>您可以点击以下按钮 或 扫描下方二维码 来捐助我们～请注明捐助找新窝，谢谢！</strong></li>
            </ul>
            <form name="alipaypay" class="text-center" method="post" accept-charset="gbk" onsubmit="document.charset='gbk'" action="https://shenghuo.alipay.com/send/payment/fill.htm" target="_blank">
                <input type="hidden" name="optEmail" value="zhangxiaoyang.hit@gmail.com">
                <input type="hidden" name="payAmount" value="10">
                <input type="hidden" name="title" value="捐助 找新窝">
                <input type="hidden" name="memo" value="捐助 找新窝">
                <input type="hidden" name="isSend" value="">
                <input type="hidden" name="smsNo" value="">
                <input type="image" src="/static/img/alipay.png">
            </form>
            <div class="text-center">
                <img class="text-center" style="max-width: 80%;" src="/static/img/qr.jpg">
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
