<div class="row">
    <div class="text-center">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <img src="/static/img/logo-pink.png">
            <p style="color: deeppink;">
            这是一个未探索的地带...
            </p>
            <form ng-submit="go('/search/{{query}}')" class="form">
                <div class="input-group">
                    <input ng-minlength="2" ng-maxlength="50" ng-model="query" type="text" class="form-control" placeholder="输入北京地点名称, 如: 中关村">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
            <div style="display: block; margin-top: 200px;"></div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
